/*color*/
/* 
60% of #77C3F2 - Dominant
30% of #F2A677 - Secondary
10% of #85F277 - Accent
*/

:root {

    /* var(--dominantColor) !important; */
    --dominantColor: #77C3F2;

    /* var(--secondaryColor) !important; */
    --secondaryColor: #F2A677;

    /* var(--accentColor) !important; */
    --accentColor: #85F277;
    
    --boxShadow: 10px 10px 20px 10px rgba(0, 0, 0, 0.35); 
    /* var(--boxShadow) !important; */

}